
body {
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

form {
	width: 80%;
}


input {
	height: 30px;
	width: 100%;
	font-size: 1em;
}

button {
	width: 100px;
	margin-top: 10px;
	cursor: pointer;

}



#container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 400px;
	max-height: 400px;
	border-radius: 5px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d9d9d9;

}

.form_area {
	border-radius: 5px;
	width: 350px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #d1d1d1;
	box-shadow: 10px 10px #8f9a9c;
	padding: 5px;
}


.form_area > p, form > p {
	font-size: 20px;
}